USER_NAME=""
USER_ID=""
GROUP_NAME=""
GROUP_ID=""

HOST_PORT="3000"
DOCKER_PORT="3001"

POSTGRES_PASSWORD="mysecretpassword"
POSTGRES_DB="allowlist"
POSTGRES_USER="postgres"
POSTGRES_DB_PORT=5432
GCLOUD_INSTANCE_CONNECTION_NAME=""
LOGGING_DRIVER=""